.font-manrope{
  font-family: 'Manrope', sans-serif;}

    .main-1section{
      background-image:url('./Images/1.png'
      );
      background-repeat: no-repeat;
      display: flex;
      

      
    }